/* Prevent iOS Safari from zooming on input focus (triggered when font-size < 16px) */
@media (max-width: 768px) {
	input, textarea, select {
		font-size: 16px !important;
	}
}

.mini-calendar {
	/* Hide scrollbar while maintaining scroll functionality */
	overflow: auto;
	scrollbar-width: none;
	/* Firefox */
	-ms-overflow-style: none;
	/* Internet Explorer and Edge */
	border-bottom: 1px solid #ccc;
}

.mini-calendar::-webkit-scrollbar {
	display: none;
	/* Chrome, Safari, and Opera */
}
